docs/e2e-tutorial/config/node-red-flow.json
[
  {
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "Agora",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ed3b9ab1.4651",
    "type": "mqtt in",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "topic": "agora/#",
    "qos": "2",
    "datatype": "auto",
    "broker": "9651999.a0f1be8",
    "x": 190,
    "y": 220,
    "wires": [["2f0174ea.da814c"]]
  },
  {
    "id": "8af5630f.9a1ae8",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 750,
    "y": 40,
    "wires": []
  },
  {
    "id": "cf34f8ab.4a8ea",
    "type": "ui_chart",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "group": "932375bf.71d298",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "x": 1230,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "f2e49cda.9549f8",
    "type": "split",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": "1",
    "arraySpltType": "len",
    "stream": false,
    "addname": "topic",
    "x": 810,
    "y": 240,
    "wires": [["b4fa1dd2.5e2a58", "abcb4a31.d3e5c"]]
  },
  {
    "id": "2f0174ea.da814c",
    "type": "json",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 390,
    "y": 220,
    "wires": [["198f9bcc.c58dfc"]]
  },
  {
    "id": "198f9bcc.c58dfc",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "func": "return {payload: msg.payload[0].tags};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 610,
    "y": 240,
    "wires": [["8af5630f.9a1ae8", "f2e49cda.9549f8", "5d7c7de8.71dfe4"]]
  },
  {
    "id": "b4fa1dd2.5e2a58",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1030,
    "y": 40,
    "wires": []
  },
  {
    "id": "abcb4a31.d3e5c",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "func": "\nreturn {topic: msg.topic, payload: msg.payload.value, timestamp: msg.payload.timestamp*1000}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1020,
    "y": 240,
    "wires": [["da995a59.f32128", "cf34f8ab.4a8ea"]]
  },
  {
    "id": "da995a59.f32128",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1190,
    "y": 120,
    "wires": []
  },
  {
    "id": "955387db.3345d8",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "group": "932375bf.71d298",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Average Amps",
    "label": "A",
    "format": "{{value}}",
    "min": 0,
    "max": "1000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 880,
    "y": 340,
    "wires": []
  },
  {
    "id": "5d7c7de8.71dfe4",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "func": "return {payload: msg.payload['Average Amps'].value};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 680,
    "y": 340,
    "wires": [["955387db.3345d8"]]
  },
  {
    "id": "9651999.a0f1be8",
    "type": "mqtt-broker",
    "name": "",
    "broker": "172.17.0.1",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "932375bf.71d298",
    "type": "ui_group",
    "name": "Data",
    "tab": "d6fc41a.6bd19c",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "d6fc41a.6bd19c",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
